* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/windows11-alt1-wallpaper.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    position: fixed;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 32px;
    width: 32px;
}

